ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: white;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.ancherTag {

  margin-left: 95px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.58px;

  color: #ff7021;
}
.roomCheckListBox {
  left: 2.05%;
  right: 67.79%;
  top: 26.82%;
  bottom: 5.21%;

  background: #ffffff;
  border-radius: 8px;
}
.backgroundColor {
  width: 468px;
  height: 800px;
  left: 0px;
  top: 0px;

  background: #f8f8fb;
}
.paragraph {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #666666;
}
.listRoomWrap .border-bottom {
  padding: 20px 0;
}
.listRoomWrap .custom-control {
  display: block !important;
  margin: 0 8px;
}
.custom-control-input {
  z-index: 4;
}

.listRoomWrap .custom-control-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
    color: #666;
    padding-left: 8px;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
  border-right: 1px solid #dee2e6;
}
.listRoomWrap .custom-control {
  display: block !important;
  margin: 0 8px;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.roomsCheckListBox, .aboutRoomWrap {
  background: #fff;
  border-radius: 10px;
  padding: 20px 20px 50px !important;
}
.position-relative {
  position: relative!important;
}
input[type=checkbox]:after {
  content: " ";
  background-color: #ff9da5;
  display: inline-block;
  visibility: visible;
}

.roomSelectorBoxes {
  margin: 40px 130px 0;
}
.roomSelectorBoxes .box {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgb(255 112 33 / 30%);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  min-height: 180px;
  cursor: pointer;
  color: #666666;
}
/* .roomSelectorBoxes:active{
  background: yellow;
} */
.roomSelectorBoxes .box.data_filled :active{
  background: #fdeee6;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.orgBtn {

  background: #CCCCCC;
  color: #ffffff;
  padding: 7px 30px;
  font-weight: 700;
  min-width: 250px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}
.calculateBtnWrap {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  z-index: 1;
  width: 100%;
  bottom: 0;
  padding: 0.8% 25%;
}
.color {
  background: #FF7021;
  border-radius: 8px;
 }
