.ancherTag {
  margin-left: 95px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.58px;

  color: #ff7021;
}
.roomCheckListBox {
  left: 2.05%;
  right: 67.79%;
  top: 26.82%;
  bottom: 5.21%;

  background: #ffffff;
  border-radius: 8px;
}
.backgroundColor {
  width: 468px;
  height: 800px;
  left: 0px;
  top: 0px;

  background: #f8f8fb;
}
.paragraph {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #666666;
}
.listRoomWrap .border-bottom {
  padding: 20px 0;
}
.listRoomWrap .custom-control {
  display: block !important;
  margin: 0 8px;
}
.custom-control-input {
  z-index: 4;
}

.listRoomWrap .custom-control-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #666;
  padding-left: 8px;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6;
}
.listRoomWrap .custom-control {
  display: block !important;
  margin: 0 8px;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.roomsCheckListBox,
.aboutRoomWrap {
  background: #fff;
  border-radius: 10px;
  padding: 20px 20px 50px !important;
}
.position-relative {
  position: relative !important;
}

.roomSelectorBoxes {
  margin: 40px 130px 0;
}
.roomSelectorBoxes .box {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgb(255 112 33 / 30%);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  min-height: 180px;
  cursor: pointer;
  color: #666666;
}
/* .roomSelectorBoxes:active{
  background: yellow;
} */
.roomSelectorBoxes .box.data_filled :active {
  background: #fdeee6;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.orgBtn {
  background: #cccccc;
  color: #ffffff;
  padding: 7px 30px;
  font-weight: 700;
  min-width: 250px;
  display: block;
  margin: 0 15px;
  text-transform: uppercase;
}
.calculateBtnWrap {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  z-index: 1;
  width: 100%;
  bottom: 0;
  padding: 0.8% 25%;
}
.color {
  background: #ff7021;
  border-radius: 8px;
}
/* .boxActive{
background: #FDEEE6;
 } */
.modal.show {
  display: block;
}

h6 {
  color: rgba(80, 55, 150, 1);
}

.active {
  background: #fdeee6;
  box-shadow: 0px 0px 4px rgba(255, 112, 33, 0.3);

  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  min-height: 180px;
  cursor: pointer;
}
.active h3 {
  color: rgba(255, 112, 33, 1) !important;
}
.active h3 {
  color: rgba(153, 153, 153, 1);
}
h3 {
  text-align: center;
  letter-spacing: 1.16px;
  text-transform: uppercase;
}

.text-color {
  color: #ff7021;
}

.background-color .box {
  background: #fdeee6;
}
.goback {
  font-weight: 700;
  color: #ff7021;
}

.vaastu_score {
  margin: 0px auto;
  padding: 20px;
  display: block;
}
.knowMore {
  font-weight: 700;
  color: #ff7021;
}
.knowMoreImg {
  height: 17.47px;
  left: 88.85%;
  right: 10.81%;
}
.backIcon {
  margin: 15px 15px 0 0;
  font-weight: 700;
  color: #ff7021;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.hd-overall-vaastu-score {
  margin: 0px;
  padding: 0px;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #666666;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Noto Sans;
  text-align: left;
  line-height: 24px;
  letter-spacing: 2px;
}
.improvment-req-number {
  margin: 0px 0px 30px 0px;
  padding: 18px 0px 21px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
}
.improvment-req-number .number {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #d11e4c;
}
.improvment-req-number .tx-improvement-required {
  margin: 0px 0 5px 0;
  padding: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: #503796;
  text-transform: uppercase;
  align-self: flex-end;
}
.room-wise-breakup-score {
  margin: 0px;
  padding: 0px;
  display: block;
}
.room-wise-breakup-score p {
  margin: 0px;
  padding: 14px 0 0px 0;
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
}
.selectedRoomBox .border-bottom {
  cursor: pointer;
}
.left {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  color: #666666;
}
.inner-left {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
}
.btn-fav {
  margin: 0px;
  padding: 0px 24px;
  font-weight: 400;
  font-size: 11px;
  color: #15b525;
  text-decoration: none;
  background: #f1fbf2;
  height: 22px;
  line-height: 21px;
  display: block;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
}
.btn-reset-vaastu-score {
  margin: 20px auto;
  padding: 0px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background: #ff7021;
  min-width: 250px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  border: 0px;
  letter-spacing: -0.15px;
}
.vaastu-compliant-plans-wrap {
  margin: 0px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  color: #67677d;
  border-radius: 10px;
  background: url(../../assets/vastu_bot_banner_bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 134px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.029693);
}
.btn-fav.yellow {
  background: #fffae6;
  color: #ffcd02;
}
.header,
.roomsWrap .custom-control,
.partiularRoomWrpa .custom-control {
  display: none;
}
.roomsCheckListBox,
.aboutRoomWrap {
  background: #fff;
  border-radius: 10px;
  padding: 20px 20px 50px;
}
.btn-fav.marun {
  background: #fae8ed;
  color: #d11e4c;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.modal-full {
  min-width: 100% !important;
  margin-left: 80 !important;
}

.modal-full .modal-content {
  min-height: 100vh !important;
}
