nav{

/* position: absolute; */
width: 100%;
height: 63px;
left: 0px;
top: 0px;
border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
background: radial-gradient(331.08% 331.08% at 0% 0%, #503796 0%, rgba(92, 38, 132, 0.97444) 33.62%, rgba(225, 0, 135, 0.5) 100%);
}
a{
  /* position: absolute; */
  height: 30px;
  border-radius: 7px;
left: 15.7%;
right: 81.59%;
top: calc(50% - 16px/2 - 0.5px);

font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-align: center;

color: #FFFFFF;

}
a:hover, a:active{
  transform: scale(1.1);
  background: #FFFFFF;
}
.nav-link:active {
transform: scale(1.1);
  background: #FFFFFF;
}
li{
  margin-left:20px
}
svg{

width: 35px;
height: 20px;
color: white;
}
