<div class="container">
  <ul class="breadcrumb">
    <li><a [routerLink]="'/home'">Home</a></li>
    <!-- <li><a [routerLink]="'/home'">Solutions</a></li>
    <li><a [routerLink]="'/vastuScore'">Vaastu Check</a></li> -->

  </ul>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <img
                src="../../assets/images/stock-photo-chiang-mai-thailand-dec-a-man-holds-apple-iphone-with-ios-compass-application-on-the-354697493 1.png"
              />
            </div>
            <div class="col-sm-8">
              <h5 class="vaastu-title text-body mb-0">Compass Tool</h5>
              <small class="mb-2" style="color: #999999"
                >Output Time :1 min</small
              >
              <p class="card-text">
                Point in the direction of specific rooms to know their
                suitability according to Vaastu guidelines.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" (click)="onVastuScore()">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <img
                src="../../assets/images/stock-photo-house-object-and-colorful-wooden-blocks-with-direction-initial-alphabet-1789893335 1.png"
              />
            </div>
            <div class="col-sm-8">
              <h5 class="vaastu-title text-body mb-0">Vaastu Score Check</h5>
              <small class="mb-2" style="color: #999999"
                >Ideal for planning stage</small
              >
              <p class="mb-0">
                Get an instant Vaastu score by entering the locations of all the
                rooms in your house.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
